# Virtual environment
venv/
env/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Data directories
handbook/*
data/
source-data/

# Output files
output.txt
*.log

# OS specific files
.DS_Store
Thumbs.db

